// style for the card
.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  border-radius: 5px;
  background: #f8f4f2;
  width: 90%;
  margin: 2rem 0 2rem 5%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn-detail {
  float: right;
  background-color: blueviolet;
}

.btn-detail-back {
  float: right;
  background-color: grey;
  border: grey;
}

.jobs-ldng {
  margin-left: 50%;
  margin-top: 33%;
}
